## Introduction Scikit-Learn (SKLearn)

This notebook demonstrates some of the most useful functions of the beautiful scikit-learn library.

0. An end-to-end Scikit-Learn Workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

## 1. An end-to-end Scikit-Learn Workflow

In [1]:
# 1. Get the data ready
import pandas as pd

heart_disease = pd.read_csv('datasets/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (features matrix)
X = heart_disease.drop('target', axis=1)

# Create Y (labels)
y = heart_disease['target']

In [5]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [10]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
173,58,1,2,132,224,0,0,173,0,3.2,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3

In [11]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
79,58,1,2,105,240,0,0,154,1,0.6,1,0,3

In [12]:
y_train

248    0
5      1
247    0
246    0
173    0
      ..
301    0
240    0
77     1
146    1
290    0
Name: target, Length: 242, dtype: int64

In [13]:
y_test

191    0
163    1
270    0
192    0
0      1
      ..
185    0
264    0
196    0
137    1
79     1
Name: target, Length: 61, dtype: int64

In [30]:
# Make a prediction
import numpy as np

In [31]:
y_preds = clf.predict(X_test)

In [32]:
y_preds

array([0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1], dtype=int64)

In [33]:
y_test

191    0
163    1
270    0
192    0
0      1
      ..
185    0
264    0
196    0
137    1
79     1
Name: target, Length: 61, dtype: int64

In [34]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, y_train)

1.0

if it gets 100% on the test data, we might think that someting's wrong

In [35]:
clf.score(X_test, y_test)

0.8524590163934426

In [36]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.84      0.73      0.78        22
           1       0.86      0.92      0.89        39

    accuracy                           0.85        61
   macro avg       0.85      0.83      0.83        61
weighted avg       0.85      0.85      0.85        61

In [37]:
confusion_matrix(y_test, y_preds)

array([[16,  6],
       [ 3, 36]], dtype=int64)

In [38]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [39]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators...')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f'Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%')
    print('')

Trying model with 10 estimators...
Model accuracy on test set: 73.77%

Trying model with 20 estimators...
Model accuracy on test set: 80.33%

Trying model with 30 estimators...
Model accuracy on test set: 81.97%

Trying model with 40 estimators...
Model accuracy on test set: 80.33%

Trying model with 50 estimators...
Model accuracy on test set: 83.61%

Trying model with 60 estimators...
Model accuracy on test set: 80.33%

Trying model with 70 estimators...
Model accuracy on test set: 83.61%

Trying model with 80 estimators...
Model accuracy on test set: 83.61%

Trying model with 90 estimators...
Model accuracy on test set: 85.25%

In [42]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open('models/random_forest_model_1.pkl', 'wb'))

In [43]:
loaded_model = pickle.load(open('models/random_forest_model_1.pkl', 'rb'))
loaded_model.score(X_test, y_test)

0.8524590163934426